.education{
    display: flex;
    flex-wrap: wrap;
}
.gifOfEdu{
    margin:10% 4% 0 8%;
    /* width: 100%; */
    /* float: left; */
}
.text{
    margin-top: 15%;
    /* float: right; */
}
.headForEdu{
    color: rgba(172, 0, 0, 0.623);
    font-family: 'Sigmar One', cursive;
}
.lineForEdu{
    width: 60%;
    color: rgba(172, 0, 0, 0.623);
}
.paraOfEdu{
    color:rgb(44, 39, 39);
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    /* font-size: 1.00em; */
}
.aLink, .aLink:hover{
    color: rgba(172, 0, 0, 0.623);
    font-size: 1.002em;
}
@media only screen and (max-width: 1125px) {
    .gifOfEdu{
        margin-top: 10%;
    }
    .gifOfEduReal{
        /* margin-top: 20%; */
        width: 100%;
        margin: 0;
    }

    .text{
        margin-left: 5%;
    }
}
